<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">


    <!-- development version, includes helpful console warnings -->
    <script src="https://unpkg.com/vue"></script>

    <title>Application GitHub Ynov</title>
</head>

<body>

    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="./logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> GitHub
        </a>
    </nav>

    <div class="container-fluid" id="filters">



        <div class="row mt-4 ml-3">
            <form class="col-md-3 p-3 border">
                <div>
                    <div class="form-group">
                        <label for="project">Choix Projet</label>
                        <select v-model="project_selected" class="form-control" id="project">
                            <option value="">Tous</option>
                            <option v-for="project in projects" v-bind:value="project">
                                {{project}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="periode_start">Début période</label>
                        <input v-model="time_start" type="date" id="periode_start">
                    </div>
                    <div class="form-group">
                        <label for="periode_end">fin période</label>
                        <input v-model="time_end" type="date" id="periode_end">
                    </div>
                    <div class="form-group">
                        <label for="account">Choix Compte</label>
                        <select v-model="account_selected" class="form-control" name="account">
                            <option value="">Tous</option>
                            <option v-for="account in accounts" v-bind:value="account">
                                {{account}}
                            </option>
                        </select>
                    </div>
                    <div>
                        <input v-on:click="getCommit()" class="btn btn-success" type="button" value="Fetch">
                    </div>
                </div>

            </form>

            <div class="col-md-9">
                <div class="border mb-3" v-for="result in commits_list">

                    <div style="background-color:lightblue" class="head p-1">{{result.name}} -
                        <a :href="result.link">{{result.repo}}</a>
                    </div>
                    <table class="table table-sm table-striped table-hover">
                        <thead class="">
                            <tr>
                                <th>Auteur</th>
                                <th>Date du commit</th>
                                <th>Message</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="commit in result.liste">
                                <td class="align-middle">
                                    <img class="img-fluid" style="width: 50px; height: 50px; border-radius:3px" :src="commit.author.avatar_url" ></a>
                                    <b>{{commit.author.login}}</b>
                                </td>
                                <td class="align-middle">{{new Date(commit.commit.author.date).toLocaleDateString()}}</td>
                                <td class="align-middle"><i>{{commit.commit.message}}</i></td>
                                <td>
                                    <a class="align-middle" :href="commit.html_url" title="lien vers le commit" alt="lien vers le commit">
                                        <i class="fas fa-code-branch"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                    <div id="accordion">
                        <div>
                            <div class="" id="headingOne">
                                <h5 class="mb-0">
                                    <div class="border" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <i class="fas fa-angle-right"></i> README.md
                                    </div>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <pre>{{result.readme}}</pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script type="module" src="./vue.js"></script>
</body>

</html>